/* Estilos globales para el tema claro */
body[data-theme = "claro"] {
  --color-fondo: #FFE69B;
  --color-superficie: #F5F5F5;
  --color-texto: #121212;
  --color-acento: #FF6B00;
  --color-detalles: #D4AF37; 
}

/* Estilos globales para el tema oscuro */
body[data-theme = "oscuro"] {
  --color-fondo: #0F172A;
  --color-superficie: #3A3A3A;
  --color-texto: #F5F5F5;
  --color-acento: #FF6B00;
  --color-detalles: #D4AF37; 
}

/* configuración de estilos para body */
body[data-theme = "oscuro"] {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

/* Configuraciones de componentes */

/* ItemCard */
.item-card {
  background: var(--color-superficie);
  color: var(--color-texto);
  border: 1px solid var(--color-detalles);
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

/* formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Inputs */
input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--color-detalles);
  background: var(--color-superficie);
  color: var(--color-texto);
}

/* botones*/
button {
  background: var(--color-acento);
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
}